* {
  margin: 0;
}

.body {
  background-color: #520d2b;
  font-family: "Pacifico", cursive;
}
.h1{
    font-size: 35px;
    font-weight: 100;
    margin: 10px;
    color: #ffffff;
    text-shadow:4px 4px 2px rgb(0, 0, 0);
}
.head {
  
  text-align: center;
  color: rgb(255, 255, 255);
}
.logo {
  width: 150px;
  border-radius: 50%;
  border: 5px solid black;
  animation-name: spin;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(1turn);
  }
  to {
    transform: rotate(2turn);
  }
}

.logo:hover {
  filter: invert();
}
.links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-evenly;
  background-color: #33091b;
  margin-top: 20px;
}
.link {
  width: 30px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
.link:hover {
  transform: rotate(2turn);
  transition: 1s;
}
.imgs {
  text-align: center;
  margin: 20px 0;
  padding-top: 25px;
  border: 5px solid rgb(66, 8, 42);
  border-radius: 30px;
  background-color: black;
}
.sora {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  margin: 3px;
  border: #be0f5b 5px solid;
  filter: blur(5px);
}
.sora:hover {
  transition: 2s;
  filter: blur(0px);
  transform: rotate3d(1, 1, 1, 1turn);
}
.foot {
  display: flex;
  justify-content: space-between;
  background-color: #520d2b;
}
.desc {
  color: rgb(214, 214, 214);
  background-color: #36091d;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
.top {
    background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10px;
}
::selection {
  background-color: #520d2b;
}

.cont{
    margin: 0 4%;
}
.tel {
  width: 50px;
  height: 50px;
 background-color: rgb(199, 199, 199);
 border-radius: 50%;
}
.tel:hover{
background-color: #520d2b;
box-shadow: 0 0 0 2px black;
}
.span{
    color: whitesmoke;
    text-shadow: none;text-decoration: none;
    font-weight: 400;
}
.span:hover{
    color: rgb(228, 0, 0);

}


