*{margin: 0;
}

.body{

    background-color: #520d2b;
}
.head{
    font-family: "Pacifico", cursive;
    text-align: center;
    color: rgb(255, 255, 255);
}
.logo{
    width: 150px;
   border-radius: 50%;
   border: 5px solid ;
   border-color: green red;
animation-name: spin;
animation-duration: 9s;
animation-iteration-count: infinite;
animation-timing-function: linear;
   
   
}
@keyframes spin{
from{transform: rotate(1turn);}
to{transform: rotate(2turn);}
}


.logo:hover{
    
    transition: 2.5s;
}
.links{
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content:space-evenly ; 
    background-color:#33091b;
    margin-top: 20px;
}
.link{
    width: 30px;
    margin-top: 5px;
    border-radius: 50%;
    background-color:rgb(0, 0, 0);

}
.link:hover{
    transform:rotate(2turn);
    transition: 1s;
}
.imgs{
    text-align: center;
    margin: 20px;
    padding-top: 25px;
    border: 5px solid rgb(66, 8, 42);
    border-radius: 7% ;
    background-color: black;
    
}   
.sora{
width: 150px;
height: 150px;
border-radius: 50px;
margin: 3px;
border: #be0f5b 4px solid;
filter: blur(5px);

}
.sora:hover{
/* transform: rotate(1turn); */
transition: 2s;
filter: blur(0px);
transform: rotate3d(1,1,1,1turn);

}
.foot{
 display: flex;
 justify-content: space-between;
  background-color: black;
     
}
.desc{
 color: gray;
 background-color: black;
 text-align: center;
}
.top{
     background-color: white;
     border-radius: 50%;
     width: 20px;
     height: 20px;
     margin: 10px;
}
::selection{
    background-color: #520d2b;

}
.cont{
    margin: 10px ;
    width: 50px;
    height: 50px;
    position: relative;
    transform-style:preserve-3d ;
    perspective: 800px;
    
    
}
.cont:hover{
    transform: rotatey(180deg);
    transition: 1s;
}
.face{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(127, 118, 255);
    justify-content: center;
    backface-visibility: hidden;
    border-radius:50%

}

.front{
background-color: rgb(0, 146, 7);


}


 
.back{
background-color: #beb200;
transform: rotatey(-180deg);
}

.span{
    text-decoration-line: none;
    color: aliceblue;
}

